@font-face {
    font-family: typeWriter;
    src: url("JMH Typewriter.ttf");
}

body{
    margin:0;
    background-color:black;
}

/* background */

.header-background{
    background-image:url("black.jpg");
    background-repeat:repeat;
    background-size:contain;
    min-height:100vh;
    width:100%;
    position:relative;
}

/* header */

.header-container{
    width:100%;
    height:50px;
    position:absolute;
    top:0;
    left:0;
    text-align:center;
}

.header-text1{
    position:absolute;
    top:50%;
    left:10%;
    transform:translate(-50%,-50%);
    color:white;
    font-family:typeWriter;
}

/* responsive images */

img{
    max-width:100%;
    height:auto;
}

/* gif base */

.gif{
    position:absolute;
    transform:translate(-50%,-50%);
}

/* specific positions */

.snoopy{
    top:50%;
    left:15%;
    opacity:0.6;
    width:400px;
}

.sparkle1{
    top:80%;
    left:10%;
    transform:rotate(15deg);
}

.sparkle2{
    top:45%;
    left:85%;
    transform:rotate(40deg);
}

.sparkle3{
    top:80%;
    left:75%;
    transform:rotate(5deg);
}

.sparkle4{
    top:10%;
    left:80%;
    transform:rotate(185deg);
}

.sparkle5{
    top:15%;
    left:15%;
    transform:rotate(75deg);
}

.sparkle6{
    top:45%;
    left:5%;
    transform:rotate(135deg);
}

/* background card */

.back-container{
    position:absolute;
    top:55%;
    left:50%;
    transform:translate(-50%,-50%);
    width:80%;
    height:600px;

    background-image:url("backing.jpg");
    background-size:cover;
    background-repeat:no-repeat;

    opacity:0.45;
    border-radius:5px;
}