@font-face {
    font-family: typeWriter;
    src: url('JMH\ Typewriter.ttf');
}

body {
    background-color: black;
    min-height:100vh;
    margin:0;
}

.header-container {
    margin: 0;
    text-align: center;
    left:0%;
    top:0%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    width:100%;
    animation:fadeIn 2s;
    height: 50px;
}

.header-background {
    background-image: url("black.jpg");
    background-repeat: repeat;
    background-size: contain;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.text-type{
    position:absolute;
    font-size:large;
    font-family:"typeWriter";
    color:aliceblue;
}

.header-text1 {
    position: absolute;
    top: 45%;
    left:10%;
    transform: translate(-50%, -50%);
    font-size: large;
    color:aliceblue;
    font-family: "typeWriter";
}

.main-container{
    height:100%;
    width:auto;
    z-index: -1;
    display: flex;
    justify-content: center;
}

.text-container{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    padding:0 100px 400px;
    background-color:rgba(255,255,255,0.4);
    border-radius:5px;
}

.back-container{
    position:absolute;
    top:55.55%;
    left:50%;
    transform:translate(-50%, -50%);
    padding:0 350px 700px;
    background-image:url("backing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    border-radius:5px;
    opacity:0.45;
}

.music-container{
    position:absolute;
    top:50%;
    left:50%;
    padding:0;
    transform:translate(-50%, -50%);
    border-radius:5px;
}

.text-container h1{
    margin-top:0;
    margin-bottom:0;
    font-family:typeWriter;
    font-size:medium;
    color:black;
}

.gif{
    position:absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
}


.headerStyle{
    font-family: "cursiveWriting";
}